<!-- <!-- <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">
  <li class="kuanjie">
    <a [routerLink]="['./jcfx']">监测分析</a>
    <a [routerLink]="['./xtyh']">系统优化</a>
    <a [routerLink]="['./nlph']">能量平衡</a>
    <a [routerLink]="['./tjbb']">统计报表</a>
  </li>
</ul> -->

<div class="funNav">
  <ul class="am-nav am-nav-pills am-topbar-nav">
    <li class="">
      <a [routerLink]="['./jcfx']">监测分析</a>
    </li>
    <li>
      <a [routerLink]="['./xtyh']">系统优化</a>
    </li>
    <li>
      <a [routerLink]="['./nlph']">能量平衡</a>
    </li>
    <li>
      <a [routerLink]="['./tjbb']">统计报表</a>
    </li>
  </ul>
</div>