<!-- <div class="nav-navicon admin-main admin-sidebar"> -->
<div class="leftNav">
  <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员：张三</div>


  <div class="searchBar"></div>
  <div class="of_whole">
    <!--主体内容区开始-->
    <div id="of_mainBody" class="push_t">
      <!--左侧栏开始-->
      <div class="side_small tag_line float_l">
        <div class="mainProNav">
          <dl class="navM1">
            <dd>
              <h6>
                <a href="#">项目列表</a>
              </h6>
              <p>
                <a href="#">项目列表</a>
                <a href="#">项目列表</a>
                <a href="#">Q币随意直充</a>
                <a href="#">魔兽世界</a>
                <a href="#" class="more">项目列表</a>
              </p>
              <h6>
                <a href="#">项目列表</a>
              </h6>
              <p>
                <a href="#">项目列表</a>
                <a href="#">项目列表</a>
                <a href="#">项目列表</a>
                <a href="#">项目列表</a>
                <a href="#" class="more">项目列表</a>
              </p>
              <h5>项目列表。</h5>

            </dd>
            <dt>菜单</dt>
          </dl>
          <dl class="navM2">
            <dd>
              <h6>
                <a href="#">项目列表</a>
              </h6>
              <p>
                <a href="#">项目列表</a>
                <a href="#">项目列表</a>
                <a href="#">Q币随意直充</a>
                <a href="#">魔兽世界</a>
                <a href="#" class="more">查看更多...</a>
              </p>
              <h6>
                <a href="#">项目列表</a>
              </h6>
              <p>
                <a href="#">项目列表</a>
                <a href="#">完美一卡通</a>
                <a href="#">项目列表</a>
                <a href="#">巨人一卡通</a>
                <a href="#" class="more">查看更多...</a>
              </p>
              <h5>项目列表。</h5>

            </dd>
            <dt>菜单</dt>
          </dl>
          <dl class="navM3">
            <dd>
              <h6>
                <a href="#">项目列表</a>
              </h6>
              <p>
                <a href="#">项目列表</a>
                <a href="#">项目列表</a>
                <a href="#">Q币随意直充</a>
                <a href="#">魔兽世界</a>
                <a href="#" class="more">查看更多...</a>
              </p>
              <h6>
                <a href="#">项目列表</a>
              </h6>
              <p>
                <a href="#">项目列表</a>
                <a href="#">完美一卡通</a>
                <a href="#">项目列表</a>
                <a href="#">巨人一卡通</a>
                <a href="#" class="more">查看更多...</a>
              </p>
              <h5>项目列表。</h5>

            </dd>
            <dt>菜单</dt>
          </dl>
          <dl class="navM4">
            <dd>
              <h6>
                <a href="#">项目列表</a>
              </h6>
              <p>
                <a href="#">项目列表</a>
                <a href="#">项目列表</a>
                <a href="#">Q币随意直充</a>
                <a href="#">魔兽世界</a>
                <a href="#" class="more">查看更多...</a>
              </p>
              <h6>
                <a href="#">项目列表</a>
              </h6>
              <p>
                <a href="#">项目列表</a>
                <a href="#">完美一卡通</a>
                <a href="#">项目列表</a>
                <a href="#">巨人一卡通</a>
                <a href="#" class="more">查看更多...</a>
              </p>
              <h5>项目列表。</h5>

            </dd>
            <dt>菜单</dt>
          </dl>
          <dl class="navM5">
            <dd>
              <h6>
                <a href="#">项目列表</a>
              </h6>
              <p>
                <a href="#">项目列表</a>
                <a href="#">项目列表</a>
                <a href="#">Q币随意直充</a>
                <a href="#">魔兽世界</a>
                <a href="#" class="more">查看更多...</a>
              </p>
              <h6>
                <a href="#">项目列表</a>
              </h6>
              <p>
                <a href="#">项目列表</a>
                <a href="#">完美一卡通</a>
                <a href="#">项目列表</a>
                <a href="#">巨人一卡通</a>
                <a href="#" class="more">查看更多...</a>
              </p>
              <h5>项目列表。</h5>

            </dd>
            <dt>菜单</dt>
          </dl>
          <dl class="navM6">
            <dd>
              <h6>
                <a href="#">项目列表</a>
              </h6>
              <p>
                <a href="#">项目列表</a>
                <a href="#">项目列表</a>
                <a href="#">Q币随意直充</a>
                <a href="#">魔兽世界</a>
                <a href="#" class="more">查看更多...</a>
              </p>
              <h6>
                <a href="#">项目列表</a>
              </h6>
              <p>
                <a href="#">项目列表</a>
                <a href="#">完美一卡通</a>
                <a href="#">项目列表</a>
                <a href="#">巨人一卡通</a>
                <a href="#" class="more">查看更多...</a>
              </p>
              <h5>项目列表。</h5>
            </dd>
            <dt>菜单</dt>
          </dl>
        </div>
        <!-- mainProNav end -->

      </div>

    </div>
    <!-- </div> -->