<div class=" admin-content">
  <div class="daohang">
    <ul>
      <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">首页</button></li>
      <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">xxxx<a href="#" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
      <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">xxxx<a href="#" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
      <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">xxxx<a href="#" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>				
    </ul>
</div>