<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <img src="assets/logo.png" title="这里放logo">
  </div>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">
      <li class="kuanjie">
        <a href="#">xxxssssx</a>
        <a href="#">xxxsssx</a>
        <a href="#">xxxsssx</a>
        <a href="#">xxsssxx</a>
        <a href="#">xxssxx</a>
        <a href="#">xxssssxx</a>
      </li>
    </ul>
  </div>
</header>